In [30]:
import pandas as pd

In [31]:
df_x_train = pd.read_csv(r"/home/inespessoa/lx_kaggle/career-con-2019/X_train.csv")
df_y_train = pd.read_csv(r"/home/inespessoa/lx_kaggle/career-con-2019/y_train.csv")

In [26]:
df = pd.merge(df_x_train, df_y_train, how="left", on="series_id")

In [34]:
df.head()

,row_id,series_id,measurement_number,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z,group_id,surface
0,0_0,0,0,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,-0.74857,2.1030,-9.7532,13,fine_concrete
1,0_1,0,1,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,0.33995,1.5064,-9.4128,13,fine_concrete
2,0_2,0,2,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,-0.26429,1.5922,-8.7267,13,fine_concrete
3,0_3,0,3,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,0.42684,1.0993,-10.0960,13,fine_concrete
4,0_4,0,4,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,-0.50969,1.4689,-10.4410,13,fine_concrete

In [ ]:
def drop_outliers(df):

In [35]:
df.groupby("series_id").apply(drop_outliers)

NameError: name 'drop_outliers' is not defined