In [1]:
import pandas as pd
import numpy as np

In [ ]:
#train test split stratified por group_id k_folds=3 (3 groupo com menos elementos)

In [2]:
df_y_train = pd.read_csv(r"/home/inespessoa/lx_kaggle/career-con-2019/y_train.csv", index_col=0)

In [3]:
df_y_train.head()

           group_id        surface
series_id
0                13  fine_concrete
1                31       concrete
2                20       concrete
3                31       concrete
4                22     soft_tiles

In [9]:
df_y_train.groupby("surface").count() #number of rows for each surface

                        group_id
surface
carpet                       189
concrete                     779
fine_concrete                363
hard_tiles                    21
hard_tiles_large_space       308
soft_pvc                     732
soft_tiles                   297
tiled                        514
wood                         607

In [16]:
values = df_y_train.groupby("surface").count().values
max_values = np.max(values)
min_values = np.min(values)
n_samples = min_values + (max_values - min_values)/2
n_samples

400.0

In [10]:
df_y_train[df_y_train["surface"]=="carpet"].groupby("group_id").count()

          surface
group_id
7              56
25             51
52             11
60             71

In [18]:
n_groups = 4
m_samples = 400/n_groups
m_samples

100.0

In [17]:
df_y_train[df_y_train["surface"]=="hard_tiles"].groupby("group_id").count()

          surface
group_id
27             21

In [14]:
df_y_train[df_y_train["surface"]=="fine_concrete"].groupby("group_id").count()

          surface
group_id
13             57
30              3
35             57
36             36
48             70
68             70
72             70